/* App.css */
body{
  margin: 0;
  padding: 0;
}
.Container {
  font-family: Arial, sans-serif;
 
  color: red;
}

.Navbar {
  background-color: #333;
  padding: 10px;
}

.Navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Navbar li {
  margin-right: 20px;
}

.Navbar a {
  color: white;
  text-decoration: none;
}

.Navbar a:hover {
  text-decoration: underline;
}
